<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="survey_wrapper">
    <div style="background: #222222;" class="survey_header">
    <% if current_admin %>
      <div class="pull-right margin-right-default"><%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
      </div>
    <% end %>
      <div style="margin-left: 250px; color: #F8AB08; padding: 10px;">
        <h3>Survey Admin</h3>
      </div>
      <div class="clear"></div>
    </div>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
